# Copy this file to src/infrastructure/influxdb/.env and customize the values before running docker compose.
DOCKER_INFLUXDB_INIT_USERNAME=pm500
DOCKER_INFLUXDB_INIT_PASSWORD=changeme
DOCKER_INFLUXDB_INIT_ORG=pm500-lab
DOCKER_INFLUXDB_INIT_BUCKET=powermonitor
